* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------*/
/* Shared Styles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    padding: 18px 36px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*----------------------------------------------*/
/*Main styles */
header {
    background-color: #fff8f3;
    padding-top: 50px;
}

.color-orange {
    color: #FD6E0A;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

